extends layouts/main-layout


block content
    .mid-screen
        h1 מי אני לעזאזל?
        h3 אתר לבניית שאלוני אישיות כדאי שתוכל סוף סוף לדעת מי החברים שלך באמת
        h4 בנה כאן שאלונים אותם תוכל לשתף עם חברים
        a(href="/google").btn התחבר        