@import url("https://fonts.googleapis.com/css2?family=Assistant&family=Heebo&display=swap");

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  width: 100vw;
  height: 100%;
  display: grid;
  /* grid-template-rows: 3rem auto 3rem; */
  grid-template-rows: minmax(3rem,auto) 1fr auto;
  margin: 0;
  font-family: "Heebo", sans-serif;
}

.main-header {
  position: sticky;
  top: 0;
  background-color: #57ae8c;
  font-family: "Assistant", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-header b {
  /* justify-self: center; */
  display: inline-block;
  margin: auto;
}

main {
  background-color: whitesmoke;
  padding: 1.5rem;
  width: 100vw;
}
.new-questionnaire-link {
  text-decoration: none;
  color: black;
}
.new-questionnaire-link button {
  width: 100%;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.3rem;
  font-weight: bold;
  border: 2px solid #57ae8c;
  border-radius: 8px;
  color: #57ae8c;
  cursor: pointer;
}

.new-questionnaire-link button:hover,
.new-questionnaire-link button:active {
  color: white;
  background-color: #57ae8c;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0.5rem;
  text-align: center;
}
footer span{
  font-size: 0.8rem;
  color: whitesmoke;
}

#menuToggle {
  display: block;
  position: relative;
  right: 1rem;

  z-index: 1;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;

  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;

  background: #cdcdcd;
  border-radius: 3px;

  z-index: 1;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 10rem;
  margin: -100px 0 0 -50px;
  padding: 1rem;
  padding-top: 6.5rem;

  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 1.5rem;
  direction: rtl;
  text-align: right;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: translate(-30%, 0);
}




.btn {
  font-size: 1.1rem;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  border: 2px solid #57ae8c;
  border-radius: 8px;
  color: #57ae8c;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.btn:hover,
.btn:active {
  color: white;
  background-color: #57ae8c;
}

.btn.disabled,
.btn:disabled {
  border-color: rgba(0, 0, 0, 0.4);
  color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0);
}

.mid-screen{
  max-width: 800px;
  margin: auto;
}